*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #000;
    color: #fff;
}
#container{
    display: flex;
    justify-content: center;
}
#dayYear{
    margin-left: 8%;
    font-size: 1.5rem;
}
#hoursMin{
    font-size:6rem;
}
#stopWatchTime{
    font-size:6rem;
}
button{
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
#changeDateTimeDiv{
    margin-top: 10%;
}
input{
    margin-top: 10px;
}